onBoot = "./bin/setup"
run = "bundle exec rails s -b 0.0.0.0"
hidden = [".bundle"]
entrypoint = "main.rb"
modules = ["nodejs-20:v8-20230920-bd784b9", "nodejs-20:v8-20230920-bd784b9"]

[env]
PATH = "$REPL_HOME/.local/share/gem/ruby/3.1.0/bin"

[nix]
channel = "stable-22_11"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "README.md"]

[languages]

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = "solargraph stdio"
